{% extends 'main/layout.html' %} 
{% load crispy_forms_tags %} 
{% block title %}
    Login 
{% endblock title %} 
{% block body %} 


<div class="colour"></div>
<div class="colour"></div>
<div class="colour"></div>
<div class="box">
  <div class="square" style="--I: 0"></div>
  <div class="square" style="--I: 1"></div>
  <div class="square" style="--I: 2"></div>
  <div class="square" style="--I: 3"></div>
  <div class="square" style="--I: 4"></div>
  <div class="container">
    <div class="form">
      <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb4">Reset password</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button type="submit">Request Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock body %}